# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

cert
bitnami_application_password
archive-contents-ingested
archive-contents-final
archive-contents-staging