*/30 * * * * bash -c "PATH=/opt/bitnami/common/bin:/opt/bitnami/git/bin:/opt/bitnami/gonit/bin:/opt/bitnami/mariadb/bin:/opt/bitnami/mariadb/sbin:/opt/bitnami/nginx/sbin:/opt/bitnami/php/bin:/opt/bitnami/php/sbin:/opt/bitnami/varnish/bin:/opt/bitnami/varnish/sbin:/opt/bitnami/nami/bin:$PATH ; cd /home/bitnami/melpa ; git pull -q ; cd /opt/bitnami/nginx/html/packages/melpa ; ./archive-contents.sh t >> ./archive-contents.log 2>&1"
